<h3 class="text-center" style="padding: 50px;">ACCOUNT DETAILS</h3>

<div class="mx-auto bg-info container shadow-lg" style="width: auto; box-shadow: inset;">
    <div class="ms-5">
        <label>ID :<b> {{account.id}}</b></label>
    </div>
    <div class="ms-5">
        <label>Account Holder Name :<b> {{account.accountHolderName}}</b></label>
    </div>
    <div class="ms-5">
        <label>Balance :<b> {{account.balance}}</b></label>
    </div>
    <div class="ms-5">
        <label>Account Number  :<b> {{account.accountNumber}}</b></label>
    </div>
    <div class="ms-5">
        <label>Address :<b> {{account.address}}</b></label>
    </div>
    <div class="ms-5">
        <label>Adhaar :<b> {{account.adhaar}}</b></label>
    </div>
    <div class="ms-5">
        <label>Contact No :<b> {{account.contact}}</b></label>
    </div>
    <div class="ms-5">
        <label>Pincode :<b> {{account.pincode}}</b></label>
    </div>
    
</div>
