<div class="bg-secondary mb-3 mt-1"><marquee behavior=scroll direction="left" scrollamount="10"><h1 style="color: red;">Welcome to our bank websites</h1></marquee>

</div>
<div class="container bg-dark">
  <div class="">
    <div id="carouselExample" class="carousel slide" style="width:800px; margin: 20px auto; display: block;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img2.avif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/img1.avif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/image.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark mt-5">
 
  <div class="container">
    <div><h1 class="text-white">LOANS WE PROVIDES</h1></div>
    <div class="row">
      <div class="col my-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/gold1.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">GOLD LOAN</h5>
            <p class="card-text"><b>Required Documents:</b><br/>
              <b>ADDRESS PROFF</b> - Adhaar Card, Ration Card, Light Bill<br/>
              <b>INCOME PROFF</b> - Income Certificate, Salary Slip<br/>
              <b>AT INTEREST</b> - 15%
              </p>
            
          </div>
        </div>
      </div>
      <div class="col my-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/home.avif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HOME LOAN</h5>
            <p class="card-text"><b>Required Documents:</b><br/>
              <b>ADDRESS PROFF</b> - Adhaar Card, Ration Card, Light Bill<br/>
              <b>INCOME PROFF</b> - Income Certificate, Salary Slip<br/>
              <b>AT INTEREST</b> - 9%
              </p>
            
          </div>
        </div>
      </div>
      <div class="col  my-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/vehicle.avif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">CAR LOAN</h5>
            <p class="card-text"><b>Required Documents:</b><br/>
              <b>ADDRESS PROFF</b> - Adhaar Card, Ration Card, Light Bill<br/>
              <b>INCOME PROFF</b> - Income Certificate, Salary Slip<br/>
              <b>AT INTEREST</b> - 10%
              </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>